<header class="header bg-white shadow-md nav-container flex w-screen">
    {% include 'partial/nav-mobile.twig' %}
    {% include 'partial/nav-desktop.twig' %}
</header>

<!-- Slide out CTA -->
<button id="contactButton" class="">Get in touch!</button>

<!-- Overlay -->
<div id="contactOverlay" class="fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center hidden">
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
    <div class="overlay-header flex justify-between">
      <h2 class="text-2xl font-semibold mb-4">Send me a message</h2>
      <div class="close-container" id="closeButton">
        <div class="leftright"></div>
        <div class="rightleft"></div>
        <label class="close">close</label>
      </div>
    </div>
      {{ do_shortcode('[gravityform id="1" title="false" description="false"]') }}
  </div>
</div>