<div class="mobile mobile-menu-children" id="mobile-menu-children-container">
    <div id="mobile-menu-children-content">
            <div class="grid max-w-screen-xl py-5 mx-auto text-sm md:grid-cols-2 md:px-6">
              <ul class="" aria-labelledby="mega-menu-full-image-button">
                    CONTENT ADDED IN main.js everything in this here ul will be deleted there on load 
                    <li class="font-extrabold highlight-txt">
                        <a href="#">Item One</a>
                    </li>
                    <li class="highlight-txt">
                        <a href="#">Item Two</a>
                    </li>
                    <li class="highlight-txt">
                        <a href="#">Item Three</a>
                    </li>
              </ul>        
          </div>
    </div>
</div>