<div class="menu-children bg-white shadow-lg" id="menu-children-container">
    <div id="menu-children-content">
            <div class="grid max-w-screen-xl px-4 py-5 mx-auto text-sm md:grid-cols-2 md:px-6">
              <ul class="hidden mb-4 space-y-4 md:mb-0 md:block" aria-labelledby="mega-menu-full-image-button">
                  <li class="font-extrabold highlight-txt">
                    MENU ITEM TITLES AND LINKS GO HERE 
                  </li>
              </ul>        
              <a href="#" class="featured-item p-8 rounded-lg flex flex-col items-center">
                  <p class="max-w-xl mb-5 font-extrabold leading-tight tracking-tight text-white">TITLE OF ACTIVE ITEM</p>
                  <img src="" alt="">
                  <button type="button" class="inline-flex items-center px-2.5 py-1.5 text-xs font-medium text-center text-white border border-white rounded-lg hover:bg-white hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-700">
                      Learn more
                      <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </button>
              </a>
          </div>
    </div>
</div>